.Projects {
  font-size: 60px;
  letter-spacing: 3px;
  font-family: "Rajdhani", sans-serif;

  .Repository {
    color: grey;
  }

  .Repository:hover {
    color: white;
    text-decoration: none;
  }
}
