.Projects {
  font-size: 50px;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 15px 0px;

  .ProjectItems {
    padding: 5px 0px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;

    .Repository {
      color: #999;
    }

    .Repository:hover {
      color: white;
      text-decoration: none;
    }

    .Avatar {
      padding: 0px 10px;
    }
  }
}

@media (max-width: 746px) {
  .Projects {
    font-size: 49px;
  }
}

@media (max-width: 717px) {
  .Projects {
    font-size: 48px;
  }
}

@media (max-width: 640px) {
  .Projects {
    font-size: 43px;
  }
}

@media (max-width: 580px) {
  .Projects {
    font-size: 41px;
  }
}

@media (max-width: 550px) {
  .Projects {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  .Projects {
    font-size: 35px;
  }
}

@media (max-width: 420px) {
  .Projects {
    font-size: 34px;
  }
}

@media (max-width: 380px) {
  .Projects {
    font-size: 32px;
  }
}
