.RepositoryContainer {
  padding: 10px 0px;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .Repository {
    color: #999;
    padding-right: 10px;
  }

  .Repository:hover {
    color: white;
    text-decoration: none;
  }
}

.Dialog {
  .DialogActions {
    .Avatar {
      width: 40px;
      height: 40px;
    }
  }
}
