.MuiDialog-paper {
  .MuiDialogTitle-root {
    .MuiTypography-root {
      display: flex;
      justify-content: space-between;
    }

    color: white;
  }

  .MuiDialogContent-root {
    .MuiDialogContentText-root {
      color: white;
    }
  }
}
