.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 3vh;

    a{
        color: #fff;
        text-decoration: none;
    }
}